@model WebTrackerUI.Models.TrackerModel

@{
    ViewData["Title"] = "Tracker";
}

<h1>Tracker</h1>

<hr />
@if (TempData["Message"] != null)
{
    if (TempData["message"].ToString()[0] == 'S')
    {
        <div class="alert alert-success" role="alert" alert-dismissable>
            <button type="button" class="close" data-dismiss="alert">×</button>
            @TempData["Message"]
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert" alert-dismissable>
            <button type="button" class="close" data-dismiss="alert">×</button>
            @TempData["Message"]
        </div>
    }
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Tracker">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" placeholder="jawadadham98@gmail.com" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteURL" class="control-label"></label>
                <input asp-for="WebsiteURL" class="form-control" placeholder="https://www.google.com"/>
                <span asp-validation-for="WebsiteURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Track" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
